.data-main-container {
    width: 100%;
    padding: 2rem;
    background-color: #f8f9fa;
  }
  
  .text-container {
    width: 90%;
    text-align: center;
    margin-bottom: 2rem;
    background-color: #ffffff;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .apply-button-1 {
    padding: 0.6rem 1.8rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .apply-button:hover {
    background-color: #0056b3;
  }
  
  .summary-container {
    width: 100%;
    margin-top: 2rem;
  }
  
  .summary-section-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .summary-section, .summary-graph {
    width: 48%;
    background-color: #ffffff;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  .summary-table th, .summary-table td {
    border: 1px solid #ddd;
    padding: 0.8rem;
    text-align: left;
  }
  
  .summary-table th {
    background-color: #f1f1f1;
  }
  
  .chart-container {
    margin-top: 1.5rem;
  }
  .clear-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f44336; /* Red */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .clear-button:hover {
    background-color: #d32f2f;
  }
  