/* Navbar CSS */
:root {
  --navbarTextColor: #FFFFFF;
  --navbarColor: linear-gradient(90deg, #22CAB8 -0.9%, #108A7D 100%);
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background: var(--navbarColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000; /* Set to a high value */
  margin: 0;
}

  .right-section {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border: 5px solid rgb(255, 253, 253);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    z-index: 1;
    right: -0px;
    top: 100%;
  }
  
  .dropdown-content p {
    color: black;
    padding: 5px 0;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .round-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .horizontal-line {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0px 0;
  }
  
  .anchorTagFor {
    width: 100%;
    display: flex;
    align-items: start;
  }

  .left-section {
    display: flex;
    align-items: center;
    gap: 15rem;
  }
  
  .filter-dataset {
    display: flex;
    align-items: center;
    background-color: #333333;
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .filter-input {
    border: none;
    outline: none;
    background: none;
    color: white;
    margin-right: 10px;
    width: 200px;
    font-size: 16px;
  }
  
  .filter-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .filter-dataset i {
    color: white;
    cursor: pointer;
  }
  
  .filter-dataset:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .dataset-dropdown {
    position: relative;
    margin-left: 20px;
  }
  
  .dataset-select {
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    outline: none;
    font-size: 16px;
    width: 200px;
    cursor: pointer;
  }
  
  .dataset-select option {
    color: black;
    background-color: white;
  }
  